/* Colors and fonts */
body {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 700px;
  margin: 40px auto;
}

img {
  width: 150px;
  border-radius: 50%;
}

h1, h2, h3 {
  font-family:'Roboto', sans-serif;
}

h1 {
  color: #575F7D;
  font-size: 32px;
  font-weight: 900;
}

h2 {
  color: #7ECE90;
  font-size: 20px;
  font-weight: lighter;
  font-weight: 500;
}

a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color:#6B72E1;
  font-weight: 600;
  font-size:16px;
}

a:hover {
  color: black;
}

/* Cards (les cases) */
.card {
  background: white;
  padding: 30px;
  margin: 20px 0px;
  border-radius: 8px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  text-align: center;
}

.btn-blue {
  background-color: #6B72E1;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
}

.btn-blue:hover {
  background-color: #575FE1;
}